body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #66666870;
    color: white;
    padding: 40px;
    text-align: center;
}

.content {
  flex: 1;
  padding: 40px;
}

html {
  scroll-behavior: smooth;
}

section {
    padding: 20px 40px;
    max-width: 800px;
    margin: auto;
}

h2 {
    margin-top: 40px;
}

footer {
    background: #f0f0f0;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.sidebar {
  position: sticky;        /* Keeps it fixed while scrolling */
  top: 0;
  width: 220px;
  height: 100vh;
  background-color: #66666870;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}
